version: '3.3'
services:
    mariadb:
        image: mariadb:latest
        container_name: "mariadb"
        restart: always
        environment: 
          MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
        volumes:
          - lampdata:/var/lib/mysql 
          - ./database/init.sql:/data/application/init.sql
        networks:
          - lampnet  
    php:      
        build: .
        container_name: php
        ports:
          - "8010:80"
        depends_on:
          - mariadb
        links:
          - mariadb
        networks:
          - lampnet  
    phpmyadmin:
        image: phpmyadmin:latest
        container_name: phpmyadmin
        restart: always
        ports:
          - "8011:80"
        depends_on:
          - mariadb
        environment:
          PMA_HOST: mariadb        
        links:
          - mariadb
        networks:
          - lampnet  
volumes:
  lampdata: {}
networks:
  lampnet:
    external: false  
