version: '3.3'
services:
    mariadb:
        image: mariadb:latest
        container_name: "mariadb"
        restart: always
        environment: 
          MARIADB_ROOT_PASSWORD: ${MARIADB_ROOT_PASSWORD}
        volumes:
          - 295devops-travel-lamp_295-reto2-lamp:/var/lib/mysql 
          - ./database/init.sql:/data/application/1.sql
        networks:
          - 295devops-travel-lamp_295-reto2-lamp-lampnet  
    php:      
        build: .
        container_name: php
        ports:
          - "8010:80"
        depends_on:
          - mariadb
        links:
          - mariadb 
        networks:
          - 295devops-travel-lamp_295-reto2-lamp-lampnet  
    phpmyadmin:
        image: phpmyadmin:latest
        container_name: phpmyadmin
        restart: always
        ports:
          - "8011:80"
        depends_on:
          - mariadb
        links:
          - mariadb
        environment:
          PMA_HOST: mariadb        
        networks:
          - 295devops-travel-lamp_295-reto2-lamp-lampnet 
volumes:
  295devops-travel-lamp_295-reto2-lamp: {}
networks:
  295devops-travel-lamp_295-reto2-lamp-lampnet:
    external: false  
